#N
@min_distance=1.0
boot_addr_i.*
instr_addr_o.*
clk_i
rst_ni

#S
@min_distance=1.0
$1
instr_rdata_i.*
data_wdata_o.*
instr_err_i

#E
@min_distance=1.0
data_be_o.*
data_rdata_i.*
irq_fast_i.*
test_en_i
data_gnt_i
data_rvalid_i
data_we_o
data_err_i
irq_software_i
irq_timer_i
irq_external_i
irq_nm_i
debug_req_i
fetch_enable_i
alert_minor_o
alert_major_o
core_sleep_o
instr_req_o
instr_gnt_i
instr_rvalid_i

#W
@min_distance=1.0
hart_id_i.*
data_addr_o.*
data_req_o
